/* ======== Navigation ======== */
nav {
    background-color: #333 !important;
    color: #fff !important;
}

#navbarNav {
    justify-content: flex-end;
}

i.fa-imdb {
    color: rgb(216, 216, 15);
}

i.fa-react {
    color: rgb(20, 160, 179);
}

button.navbar-toggler {
    background-color: #fff;
}

/* Search Form   */
@media (max-width: 991px) {
    form {
        width: 90%;
    }
    form > button {
        width: 100%;
    }
}

/* Movie Detail */
.container-movieDetail {
    display: flex;
}

.container-movieDetail .left-img {
    flex-basis: 40%;
}

.container-movieDetail img {
    width: 100%;
}
.container-movieDetail .right-detail{
    flex-basis: 60%;
}

/* Movie  */
.card-img-top {
    height:400px;
}

/* Movies  */
.container-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-movies > div {
    margin-bottom: 60px;
}

@media (max-width: 768px ) {
    .container-movies {
        justify-content: center;
    }
}

.loader-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ratings-list-item:nth-child(odd){
    background-color: #eee;
}